Package: RoadApplePi
Version: 0.2.0-jle
Architecture: armhf
Maintainer: Julian Lemmerich <mail@julian-lemmerich.de>
Description: Welcome to RoadApplePi setup. RoadApplePi is \"Black Box\" software that can be retrofitted into any car with an OBD port.
Depends: libbluetooth-dev, php7.4, php7.4-mysql, php7.4-bcmath, uvcdynctrl, ffmpeg
Pre-Depends: dnsmasq, hostapd, apache2, mariadb-server, libmariadb-dev, libmariadb-dev-compat
